*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  padding: 10vh 15px 0;
}
.titulo{
  position: relative;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.titulo button{
  background-color: blueviolet;
  border: none;
  width: 2em;
  height: 2em;
  border-radius: 10px;
  font-weight: 200;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 10%;
  color: white;
}
.titulo h1{
  text-align: center;
  font-size: 4.5rem;
  color: rgb(83, 83, 83);
  white-space: nowrap;
}

/*RESPONSIVE
=================================================================
Escritorios muy grandes
-----------------------------------------------------------------*/
@media (min-width: 1200px) { 

}

/*Tablets en horizontal y escritorios normales
-----------------------------------------------------------------*/
@media (min-width: 760px) and (max-width: 1199px) {
  .titulo button{
    left: 5%;
  }
  .titulo h1{
    font-size: 3.5rem;
  }
}

/*Moviles en horizontal o tablets en vertical
-----------------------------------------------------------------*/
@media (max-width: 767px) { 
  .titulo button{
    left: 0;
    width: 1.5em;
    height: 1.5em;
  }
  .titulo h1{
    font-size: 2.5rem;
  }
}

/*Moviles en vertical
-----------------------------------------------------------------*/
@media (max-width: 500px){
  body{
    padding: 5vh 5px 0;
  }
  .titulo{
    justify-content: center;
  }
  .titulo h1{
    font-size: 2rem;
    text-align: end;
  }
}

@media (max-width: 390px){
  .titulo h1{
    font-size: 1.5rem;
  }
}